Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-eu-west-1-840641876387"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Room Classifier
  "/home/ec2-user/resnet_classifier":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://room-classifier-models.s3.eu-west-2.amazonaws.com/resnet_classifier

files:
  # Room Classifier
  "/home/ec2-user/binerizer_object":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://room-classifier-models.s3.eu-west-2.amazonaws.com/binerizer_object