<html>
<head>
  <title></title>
          <link rel="stylesheet" media="screen" href="static/bootstrap-4.4.1-dist/css/bootstrap.min.css">
          <link rel="stylesheet" href="static/bootstrap-4.4.1-dist/css/bootstrap-theme.min.css">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<header>
     <div id="company_logo"></div>
</header>

<div class="top-buffer"> </div>
<div class="container">

<img src="{{url_for('static', filename= img_url )}}" alt="Room image" width="500" height="333">

{% set features = [] %}
{% set feat = namespace (vals = '') %}
{% set featurecompare = ['Wood Floor', 'Fireplace', 'Skylight', 'Kitchen Island'] %}

<table>
<tr>
  <th>Image File Name</th>
  <th>Room Type</th>
  <th>% Confidence</th>
  <th>Identified Features</th>
</tr>
{% for item in labels %}
  {% set item_list = item.split(':') %}
  {% if item_list[0] in featurecompare %}
    {% set feat.vals = feat.vals + item_list[0] + ', ' %}
  {% else %}
    {% set room = item_list[0] %}
    <tr>
    <td class="c1">{{ img_url }}</td>
    <td class="c2">{{ room }}</td>
    <td class="c3">{{ item_list[1] }}</td>
  {% endif %}
{% endfor %}
<td class="c4">{{ feat.vals[:-2] }}</td>
</tr>
</table>


  <h2>Room Image Classification Tool</h2>
  <h3>Upload new File</h3>

    <form action="" method="post" role="form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="image_url">Name:</label>
            <input type="file" class="form-control" id="image_url_id" name="image_url" placeholder="Input an image url">
      </div>
            <button type="submit" class="btn btn-success">Upload</button>
    </form>
</div>

</body>

</html>